/* @import url("../../../theme.css"); */
@import url("../../../theme.css");

.countCell {
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  border-radius: 1%;
  padding-top: 0.2rem;
}

#totalCountCountainer {
  background-color: var(--primaryColor);
}

#missedCountCountainer {
  background-color: var(--lightBlue); /* Use lowercase for standard color */
}

#decCountContainer {
  background-color: var(--secondaryColor); /* Use a CSS variable */
}

.tableTextNumber {
  color: white;
}

.tableText {
  color: white;
  font-weight: bolder;
  /* margin-left: 20rem; */
}

.productCount {
  /* Add styles as needed */
}

.countBarContainer {
  /* position: absolute; */
  /* bottom: 1rem; */
  padding-bottom: 1rem;
  /* padding-top: 1rem; */
}
