@import url("../../theme.css");

:root {
  --insideLeftPush: -6rem;
}

.allMDContainer {
  margin-top: -100vh;
  margin-left: 4rem;
}
.barGraphAndLineContainer {
  display: flex;
  flex-direction: row;
  height: 21rem;
  width: 100vw;
  transition: flex-direction 300ms ease;
}

.barGraphContainer {
  /* background-color: azure; */
  width: 25rem;
  height: 18rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: -6rem;

  background-color: #fff;
  border-radius: 7px;
  box-shadow: var(--paperMimic);
}

.lineGraphContainer {
  width: 30rem;
  height: 24rem;
  margin-left: 2rem;
  background-color: #fff;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: var(--paperMimic);
}

@media (max-width: 1015px) {
  .barGraphAndLineContainer {
    flex-direction: column;
  }

  .lineGraphContainer {
    transform: scale(0.9);
    margin-left: -1rem;
    margin-top: 1rem;
  }
  .yearDropdownContainer .emptyDiv_yearDropdown {
    margin-top: 24rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
  }

  /* .tableAndPieGraphGrid .emptyDiv_tableAndPieGraphGrid {
    margin-top: 6rem;
    background-color: green;
  } */
}

@media (max-width: 1050px) {
  .tableAndPieGraphGrid {
    display: flex;
    flex-direction: column;
  }

  .tableAndPieGraphGrid .emptyDiv_tableAndPieGraphGrid {
    display: flex;
    flex-direction: column;
  }
}

.yearDropdownContainer {
  margin-top: 5rem;
  margin-bottom: 2rem;
  /* display: flex;
  justify-content: center; */
  /* background-color: blue; */
  /* margin-top: 40rem; */
  width: 30rem;
  padding-left: 10rem;
}

.lineGraphTitle {
  margin-left: 3rem;
  margin-top: 0.5rem;
  text-align: center;
  width: 75%;
}

.titleContainer {
  flex-grow: 1;
}

.mdGraphContainer {
  max-width: 600px;
  height: 500px;
  margin-top: 2%;
}

.titleBox {
  margin-top: 1%;
}
.tableAndPieGraphGrid {
  display: grid;
  grid-template-columns: 600px 400px;
  grid-template-rows: 400px 200px;
  margin-top: -3rem;
}
.tableContainer {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.pieGraphContainer {
  /* background-color: bisque; */
  grid-column: 2;
  grid-row: 1;
  transform: scale(0.65);
}

.downloadBtnContainer {
  /* background-color: aqua; */
  padding-left: 4rem;
  padding-top: 1rem;
  grid-column: 2;
  grid-row: 2;
}
/* styles.css */

.table {
  min-width: 500px;
  max-height: 400px;
  /* padding: 4px 8px; */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.allMdTableHeader {
  font-weight: bolder;
  margin-bottom: -300px;
  /* padding-bottom: -50px; */
  /* background-color: blue; */
}

.tableHead {
  font-weight: bolder;
  /* background-color: black; */
}

.firstTableHead {
  /* inline-size: 100px; */
  text-align: left;
  font-weight: bolder;
  padding-bottom: -50px;
}
.tableRow {
  padding-top: -1rem;
  margin-top: -1rem;
  /* background-color: black; */
}
.footerSpacer {
  height: 500px;
}
