@import url("../../theme.css");

:root {
  --insideLeftPush: -6rem;
}

.allMDContainer {
  margin-top: -100vh;

  margin-left: 4rem;
}
.barGraphAndLineContainer {
  display: flex;
  flex-direction: row;
  height: 19rem;
  width: 100vw;
}

.barGraphContainer {
  /* background-color: azure; */
  width: 25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: -6rem;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  /* box-shadow: var(--coolBoxShadow); */
}
.yearDropdownContainer {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.lineGraphContainer {
  width: 25%;
  /* transform: scale(0.7); */
  /* background-color: pink; */
}

.lineGraphContainer svg {
  background-color: burlywood;
}
.titleContainer {
  flex-grow: 1;
}

.paper {
  padding: var(--theme-spacing-2);
  text-align: center;
  color: var(--theme-palette-text-secondary);
}

.paperTopRow {
  padding-bottom: 10%;
  height: 400px;
  padding-top: 2%;
}

.mdGraphContainer {
  max-width: 600px;
  height: 500px;
  margin-top: 2%;
}

.titleBox {
  margin-top: 1%;
}
.tableAndPieGraphGrid {
  display: grid;
  grid-template-columns: 600px 400px;
  grid-template-rows: 400px 200px;
  margin-top: -3rem;
}
.tableContainer {
  /* background-color: beige; */

  grid-column: 1;
  grid-row: 1 / span 2;
}
.pieGraphContainer {
  /* background-color: bisque; */
  grid-column: 2;
  grid-row: 1;
  transform: scale(0.65);
}

.downloadBtnContainer {
  /* background-color: aqua; */
  padding-left: 4rem;
  padding-top: 1rem;
  grid-column: 2;
  grid-row: 2;
}
/* styles.css */

.table {
  min-width: 500px;
  max-height: 400px;
  /* padding: 4px 8px; */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.allMdTableHeader {
  font-weight: bolder;
  margin-bottom: -300px;
  /* padding-bottom: -50px; */
  /* background-color: blue; */
}

.tableHead {
  font-weight: bolder;
  /* background-color: black; */
}

.firstTableHead {
  /* inline-size: 100px; */
  text-align: left;
  font-weight: bolder;
  padding-bottom: -50px;
}
.tableRow {
  padding-top: -1rem;
  margin-top: -1rem;
  /* background-color: black; */
}
.footerSpacer {
  height: 500px;
}
