/* @import "../../theme.css"  */
:root {
  --primaryColor: #225cf6;
  --secondaryColor: #88b7d7;
  --lightBlue: #108fe0;
  --highlightColor: #e08d20;
  --lightGrey: #e6e8e6;
  --darkGrey: #d0d6d4;
  --greenGrey: #69cfa9;
  --pinkHighlight: #f45273;
  --alternateHighlight: #1ed4c7;
  --alternateSecondary: #1e7fd4;
  --lineGraphTitleBlock: #caf3fa;
  --coolBoxShadow: 5px 5px 0px hsla(0, 1%, 37%, 0.329);
}

.classGraphContainer {
  /* margin-left: 1%; */
  /* width: fit-content; */
  /* height: 20rem; */
  /* overflow: hidden; */
  /* height:  */
  /* padding-bottom: -10rem; */
}

.classGraphsvg {
  transform: scale(0.97);
  transform-origin: 0 0;
  /* margin-bottom: -5rem; */
}

.classGraphTooltip {
  position: relative;
  background: var(--lightGrey);
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid black;
  box-shadow: 5px 5px 0px hsla(0, 1%, 37%, 0.329);
}

.tooltip_ProductText {
  position: relative;
  text-align: center;
  font: 10px sans-serif;
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bolder;
  padding: 5px;
  font-size: 14px;
  font-family: roboto;
  box-shadow: 5px 5px 0px hsla(0, 1%, 37%, 0.329);
  border: 0.5px solid black;
  color: black;
  opacity: 0;
}
.pointsFromTargetLabel {
  margin-right: 0.3rem;
}

.redPoints {
  color: red;
}

.greenPoints {
  color: green;
}
