.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  /* font-family: "Josefin Sans", cursive; */
  font-family: "Roboto", sans-serif;
}

#allMdContainer {
  margin-left: 200px;
  margin-right: 100px;
}

#topFirstClassGraphContainer {
  height: 400px;
  /* margin-bottom: -1rem;
  margin-bottom: -1rem; */
}
#topMarketingGraphContainer {
  height: 400px;
  /* margin-bottom: -1rem;
  margin-bottom: -1rem; */
}

#topFirstClassTableContainer {
  /* margin-top: -2rem; */
  /* margin-top: -1rem; */
}

#topFirstMarketingTableContainer {
  /* margin-top: -1rem; */
}

#gridSpacing {
  margin-top: -2rem;
}

#gridSpacing2 {
  margin-top: 1rem;
}
