:root {
  --primaryColor: #225cf6;
  --secondaryColor: #88b7d7; /* new */
  --lightBlue: #108fe0;
  --highlightColor: #e08d20;
  --lightGrey: #e6e8e6;
  --darkGrey: #d0d6d4;
  --greenGrey: #69cfa9;
  --pinkHighlight: #f45273;
  --alternateHighlight: #1ed4c7;
  --alternateSecondary: #1e7fd4;
  --lineGraphTitleBlock: #caf3fa;
}
