.classGraphOuterContainer {
  height: 30rem !important;
  width: 50rem;
  padding-top: 0.5rem;
  /* padding-right: 2rem; */
  padding-left: 1rem;
  /* border: 1px solid black; */
}

.classGraphPaper {
  /* width: 60rem; */
}
.graphAndCountTableContainer {
  display: flex;
  flex-direction: row;
  margin-left: -10rem;
}

.productPageContainer {
  margin-left: -10rem;
}
